<div class="modal-header" style="background:red;color:#fff;">
  <span class="modal-title">
    <i class="material-icons icono-titulo">delete</i>&nbsp; Ingrese la contraseña para eliminar la comunidad </span>
  <button type="button" class="close" aria-label="Close" (click)="cerrarModalSF()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <div class="col-12">
      <span> ¿Estás seguro que deseas eliminar la comunidad <b>{{vecindario.nombre}}</b>?</span>
      <form [formGroup]="formulario" (ngSubmit)="verificarPassword()" novalidate>
        <div class="input-group input-group-sm mb-3" style="margin-top:20px">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Contraseña</span>
          </div>
          <input type="password" class="form-control" formControlName="password" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Aceptar</button>
          </div>
        </div>
      </form>
      <div class="alert alert-danger" role="alert" *ngIf="mensaje">
        <i class="material-icons icono-titulo">warning</i> {{mensaje}}
      </div>
    </div>
  </div>
</div>
