<div *ngIf="authService.user | async as user">
  <form [formGroup]="formulario" (ngSubmit)="agregar()" novalidate>
    <div class="modal-header" style="background:#06A8F9;color:#fff;">
      <span class="modal-title">
        <i class="material-icons icono-titulo">date_range</i>&nbsp; Agregar </span>
      <button type="button" class="close" aria-label="Close" (click)="cerrarModal(user.uid)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Ingrese el título" type="text" formControlName="nombre" required autofocus>
                <mat-error *ngIf="formErrores.nombre">{{formErrores.nombre}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <textarea formControlName="descripcion" minlenght="1" matInput #descripcion placeholder="Escribe la descripcion..." matTextareaAutosize
                  matAutosizeMinRows="3" matAutosizeMaxRows="10" required></textarea>
                <mat-hint *ngIf="descripcion.value.length > 3000" align="end">{{descripcion.value.length}} / 3000</mat-hint>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Dirección URL" value="https://" formControlName="url" required>
                <mat-error *ngIf="formErrores.url">{{formErrores.url}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button *ngIf="!cargando" color="accent" type="submit" [disabled]="!formulario.valid">
        <i class='material-icons'>mode_edit</i> Publicar</button>
      <button mat-raised-button disabled *ngIf="cargando" type="submit" disabled>
        <i class='fa fa-circle-o-notch fa-spin'></i> Publicando...</button>
    </div>
  </form>
</div>