<!-- <mat-toolbar>
    <span class="app-toolbar-filler"></span>
    <span class="texto-footer">Desarrollo & Programación <a href="https://www.norweb.cl" target="_blank"><img src="../../../assets/norweb.png" width="20px" matTooltip="NORWEB"> </a></span> &nbsp;
    <span class="texto-footer">
      | &nbsp; <span class="flag-icon flag-icon-cl"></span> Antofagasta</span>
    <span class="app-toolbar-filler"></span>

</mat-toolbar> -->
<div class="footer d-lg-none d-md-none d-xl-none" style="z-index:999;">
    <!-- <div class="footer d-none d-sm-block"> -->
    <!-- <p class="text-center texto-footer">
        Desarrollo & Programación
        <a href="https://www.norweb.cl" target="_blank">
            <img src="../../../assets/norweb.png" width="20px" matTooltip="NORWEB"> </a>
        | &nbsp;
        <span class="flag-icon flag-icon-cl"></span> Antofagasta
    </p> -->
    <div class="row justify-content-center">
        <div class="col-2 text-center">
            <a routerLink="" class="itemmenu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <i class="material-icons" style="font-size:35px;">home</i> <br>
                <!-- <span class="texto-menu">Plaza</span> -->
            </a>
        </div>
        <div class="col-2 text-center">
            <a routerLink="grupos" class="itemmenu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <i class="material-icons" style="font-size:35px;"> groups</i> <br>
                <!-- <span class="texto-menu">Grupos</span> -->
            </a>
        </div>
        <div class="col-2 text-center">
            <a routerLink="agenda" class="itemmenu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <i class="material-icons" style="font-size:35px;">event</i> <br>
                <!-- <span class="texto-menu">Panel</span> -->
            </a>
        </div>
        <div class="col-2 text-center">
            <a routerLink="documentos" class="itemmenu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <i class="material-icons" style="font-size:35px;">folder</i> <br>
                <!-- <span class="texto-menu">Docs</span> -->
            </a>
        </div>
        <div class="col-2 text-center">
            <a routerLink="links" class="itemmenu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons" style="font-size:35px;">public</i> <br>
                <!-- <span class="texto-menu">Visor</span> -->
            </a>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-3">
        <i class="material-icons">dashboard</i>
        Dashboard
    </div>
</div> -->