<!-- <mat-toolbar class="tool-logo fixed-top" [ngStyle]="{'background': (authService.user | async)?.modo_edicion ? '#06A8F9' :'#00285C'}"> -->
<!-- <mat-toolbar class="tool-logo fixed-top" *ngIf="(authService.user | async)"> -->
<!-- <mat-toolbar class="tool-logo fixed-top"  [ngStyle]="{'background': (authService.user | async) ? '#06A8F9' :'#00285C'}"> -->
<mat-toolbar class="tool-logo fixed-top"
    [ngStyle]="{'background': (authService.user | async) ? 'linear-gradient(135deg,#00285c,#303030)' :'linear-gradient(135deg,#00285c,#1e88e5)'}">

    <!-- <mat-toolbar [class]="(authService.user | async)?.modo_edicion ? 'fixed-top team-logo' : 'fixed-top tool-logo'"> -->
    <button mat-icon-button (click)="toggle()" style="color:#fff">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <span *ngIf="isScreenSmall()"> -->
    <!-- <span class="logo-toolbar">
        <button mat-icon-button (click)="sidenavToggle()">
            <mat-icon>menu</mat-icon>FF
        </button>
    </span> -->
    <!-- <span class="app-toolbar-filler"></span> -->
    <span>
        <a routerLink="/">
            <img *ngIf="!this.ac.isScreenSmall()" src="/assets/logo4.png" style="padding-bottom:5px; margin-left:10px;" width="200"
                class="img-fluid d-inline-block" alt="VecinDiario">
            <img *ngIf="this.ac.isScreenSmall()" src="/assets/logo_mobile.png" style="padding-bottom:5px; margin-left:10px;" width="35"
                class="img-fluid d-inline-block" alt="VecinDiario">
            <!-- <span *ngIf="(authService.user | async) && !this.ac.isScreenSmall()"
                class="vecindiario d-inline-block">&nbsp;|&nbsp; Brisas del Norte</span> -->


            <!-- <sup class="beta">BETA</sup> -->
        </a>
        <!-- <span style="color:#fff;">&nbsp;|&nbsp;</span> -->



        <!-- <mat-form-field>
            <mat-select [(value)]="selected">
                <mat-option value="Brisas del Norte">
                    Brisas del Norte
                </mat-option>
            </mat-select>
        </mat-form-field> -->

    </span>
    <!-- <div class="col-2">
        <select class="custom-select">
            <option selected value="1">Brisas del Mar</option>
            <option value="2">Coviefi</option>
            <option value="3">Miramar Sur</option>
        </select>
    </div> -->
    <!-- &nbsp; &nbsp; &nbsp; -->
    <!-- <button mat-raised-button color="accent" routerLink="/" *ngIf="!isScreenSmall()"><i class="material-icons icono-boton">list</i> Publicaciones</button> -->
    <!-- &nbsp;
    <button mat-raised-button color="accent" routerLink="/buscar" *ngIf="!isScreenSmall()"><i class="material-icons icono-boton">search</i> Buscar</button>
    &nbsp;
    <button mat-raised-button color="accent" routerLink="/busqueda" *ngIf="!isScreenSmall()"><i class="material-icons icono-boton">search</i> Busqueda</button> -->
    <span class="app-toolbar-filler"></span>
    <span>
        <div *ngIf="authService.user | async as user">
            <!-- <button mat-icon-button style="color:#fff;margin-right:5px;" routerLink="comunidades"
                matTooltip="Comunidades">
                <i class="material-icons">domain</i>
            </button> -->
            <button *ngIf="user.admin" mat-icon-button style="color:#fff;margin-right:5px;" routerLink="usuarios"
                matTooltip="Usuarios">
                <i class="material-icons">group</i>
            </button>
            <!-- <a matTooltip="Moodle" mat-icon-button routerLink="/" style="color:#fff;margin-right:5px;"><i class="material-icons icono-boton">library_books</i></a> -->
            <button mat-button *ngIf="!this.ac.isScreenSmall()" [matMenuTriggerFor]="menu1">
                <img class="rounded-circle foto-perfil" width="30px" height="30px"
                    [src]="user.photoURL || '../../../assets/user_google.jpg'" [alt]="user.displayName"> &nbsp;
                <span style="color:#fff;" *ngIf="authService.user | async as user">
                    {{user.displayName | trim }}
                </span>
                <i class="material-icons icono-boton" style="color:#fff;">keyboard_arrow_down</i>
            </button>
            <button mat-button [matMenuTriggerFor]="menu1" *ngIf="this.ac.isScreenSmall()">
                <img class="rounded-circle foto-perfil" width="30px" height="30px"
                    [src]="user.photoURL || '../../../assets/user_google.jpg'" [alt]="user.displayName">
                <i class="material-icons icono-boton" style="color:#fff;">keyboard_arrow_down</i>

            </button>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu1" style="color:#fff;margin-right:5px;"
            *ngIf="!(authService.user | async)">
            <i class="material-icons">person</i>
        </button>
        <mat-menu #menu1="matMenu" style="z-index:99!important;">
            <div *ngIf="authService.user | async; then authenticated else guest">
            </div>

            <ng-template #authenticated>

                <div *ngIf="authService.user | async as user">
                    <!-- <app-modo></app-modo> -->
                    <button mat-menu-item *ngIf="user" routerLink="/perfil">
                        <mat-icon>person</mat-icon>
                        <!-- <span>{{user.displayName || 'Usuario sin Nombre'}}</span> -->
                        <span>Mi Perfil</span>
                    </button>
                    <!-- <button mat-menu-item *ngIf="user" routerLink="/mispublicaciones/{{user.uid}}">
                        <mat-icon>list</mat-icon>
                        <span>Mis Publicaciones</span>
                    </button> -->
                    <button mat-menu-item *ngIf="user" (click)="salir()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Cerrar Sesión</span>
                    </button>
                </div>

            </ng-template>

            <ng-template #guest>
                <button mat-menu-item *ngIf="!user" routerLink="/iniciosesion">
                    <mat-icon>person</mat-icon>
                    <span> Iniciar Sesión</span>
                </button>
                <button mat-menu-item *ngIf="!user" routerLink="/registro">
                    <mat-icon>person_add</mat-icon>
                    <span>Crear Cuenta</span>
                </button>
                <button mat-menu-item *ngIf="!user" routerLink="/recuperarcont">
                    <mat-icon>error</mat-icon>
                    <span>Olvidó su Contraseña?</span>
                </button>
            </ng-template>
            <!-- <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span> Bienvenido Nombre</span>
            </button> -->

        </mat-menu>
    </span>
    <!-- <span matTooltip="Publicar" *ngIf="authService.user | async;">
        <button mat-raised-button color="warn"routerLink="/publicar">
           <i class="ion ion-flame" style="font-size:18px;padding-right:7px; padding-bottom:5px;"></i> Publicar
        </button>
    </span> -->
    <span>
        <!-- <i class="ion ion-flame" style="font-size:18px;padding-right:7px; padding-bottom:5px;"></i> Publicar -->

        <!-- <button mat-raised-button color="accent"routerLink="/publicar" *ngIf="!isScreenSmall()">
           <i class="material-icons icono-boton">edit</i> Publicar
        </button> -->
        <!-- <i class="ion ion-flame" style="font-size:18px;padding-right:7px; padding-bottom:5px;"></i> Publicar -->

        <!-- <button mat-icon-button routerLink="/publicar" matTooltip="Partidos">⚽
        </button> -->
        <!-- 
        <button mat-icon-button (click)="open()" matTooltip="Publicar"><i  style="color:#fff;" class="material-icons icono-boton">edit</i>
        </button> -->
    </span>
</mat-toolbar>