<mat-toolbar class="tool-logo fixed-top"
    [ngStyle]="{'background': (authService.user | async) ? 'linear-gradient(135deg,#00285c,#303030)' :'linear-gradient(135deg,#00285c,#1e88e5)'}">
    <button mat-icon-button (click)="toggle()" style="color:#fff">
        <mat-icon>menu</mat-icon>
    </button>
    <span>
        <a routerLink="/">
            <img *ngIf="!this.ac.isScreenSmall()" src="/assets/logo4.png" style="padding-bottom:5px; margin-left:10px;" width="200"
                class="img-fluid d-inline-block" alt="VecinDiario">
            <img *ngIf="this.ac.isScreenSmall()" src="/assets/logo_mobile.png" style="padding-bottom:5px; margin-left:10px;" width="35"
                class="img-fluid d-inline-block" alt="VecinDiario">
        </a>
    </span>
    <span class="app-toolbar-filler"></span>
    <span>
        <div *ngIf="authService.user | async as user">
            <button *ngIf="user.admin" mat-icon-button style="color:#fff;margin-right:5px;" routerLink="usuarios"
                matTooltip="Usuarios">
                <i class="material-icons">group</i>
            </button>
            <!-- <button *ngIf="this.checkDosBarbas(user)" mat-icon-button style="color:#fff;margin-right:5px;" [matMenuTriggerFor]="menu2" -->
            <button *ngIf="this.notiService.mostrarNotificaciones" mat-icon-button style="color:#fff;margin-right:5px;" [matMenuTriggerFor]="menu2"
                matTooltip="Notificaciones">
                <i class="material-icons">public</i>
                <sup *ngIf="this.notificaciones | async as notificaciones" class="badge badge-pill badge-danger">{{this.checkNotificacionesNoleidas(notificaciones)}}</sup>
            </button>
            <!-- <div class="circle red"></div> -->
            <mat-menu #menu2="matMenu" style="z-index:99!important;">
                <!-- <button mat-menu-item style="white-space: normal;background-color: rgb(31, 167, 251,0.4);" routerLink="/">
                    <mat-icon>home</mat-icon>
                    <b>Juan Perez</b> ha publicado en la Plaza de la Comunidad <b>"Dos Barbas"</b>
                  </button>
                <button mat-menu-item style="white-space: normal">
                    <mat-icon>home</mat-icon>
                    Juan Perez ha publicado en la Plaza de Dos Baras.
                  </button> -->
                <button mat-menu-item *ngFor="let notificacion of this.notificaciones | async" style="white-space: normal;" [ngClass]="{'noleido':!notificacion.leido, 'leido':notificacion.leido}" (click)="marcarLeida(notificacion.id)">
                    <mat-icon>home</mat-icon>
                    <b>Un vecino</b> {{notificacion.accion}}. <small>{{notificacion.fecha | amTimeAgo}}</small>
                  </button>
                <!-- <button mat-menu-item style="white-space: normal" *ngFor="let notificacion_leida of this.notificaciones_leidas | async">
                    <mat-icon>home</mat-icon>
                    <b>{{(notificacion_leida.userRef | doc | async)?.displayName }}</b> {{notificacion_leida.accion}}. <small>{{notificacion_leida.fecha | amTimeAgo}}</small>
                  </button> -->
            </mat-menu>
            <button mat-button *ngIf="!this.ac.isScreenSmall()" [matMenuTriggerFor]="menu1">
                <img class="rounded-circle foto-perfil" width="30px" height="30px"
                    [src]="user.photoURL || '../../../assets/user_google.jpg'" [alt]="user.displayName"> &nbsp;
                <span style="color:#fff;" *ngIf="authService.user | async as user">
                    {{user.displayName | trim }}
                </span>
                <i class="material-icons icono-boton" style="color:#fff;">keyboard_arrow_down</i>
            </button>
            <button mat-button [matMenuTriggerFor]="menu1" *ngIf="this.ac.isScreenSmall()">
                <img class="rounded-circle foto-perfil" width="30px" height="30px"
                    [src]="user.photoURL || '../../../assets/user_google.jpg'" [alt]="user.displayName">
                <i class="material-icons icono-boton" style="color:#fff;">keyboard_arrow_down</i>
            </button>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu1" style="color:#fff;margin-right:5px;"
            *ngIf="!(authService.user | async)">
            <i class="material-icons">person</i>
        </button>
        <mat-menu #menu1="matMenu" style="z-index:99!important;">
            <div *ngIf="authService.user | async; then authenticated else guest">
            </div>
            <ng-template #authenticated>
                <div *ngIf="authService.user | async as user">
                    <button mat-menu-item *ngIf="user" routerLink="/perfil">
                        <mat-icon>person</mat-icon>
                        <span>Mi Perfil</span>
                    </button>
                    <button mat-menu-item *ngIf="user" (click)="salir()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Cerrar Sesión</span>
                    </button>
                </div>
            </ng-template>
            <ng-template #guest>
                <button mat-menu-item *ngIf="!user" routerLink="/iniciosesion">
                    <mat-icon>person</mat-icon>
                    <span> Iniciar Sesión</span>
                </button>
                <button mat-menu-item *ngIf="!user" routerLink="/registro">
                    <mat-icon>person_add</mat-icon>
                    <span>Crear Cuenta</span>
                </button>
                <button mat-menu-item *ngIf="!user" routerLink="/recuperarcont">
                    <mat-icon>error</mat-icon>
                    <span>Olvidó su Contraseña?</span>
                </button>
            </ng-template>
        </mat-menu>
    </span>
    <span>
    </span>
</mat-toolbar>