<!-- <mat-toolbar style="background:#06A8F9;color:#fff;border-radius: 10px;">
  <span class="titulo">
    <i class="material-icons icono-titulo">campaign</i> Panel</span>
  <span class="app-toolbar-filler"></span>

  <button *ngIf="(authService.user | async)?.admin" mat-raised-button color="primary" (click)="open()">
    <i class="material-icons icono-boton">edit</i> AGREGAR
  </button>
</mat-toolbar>
<br> -->

<div *ngIf="authService.user | async as user" class="container-fluid">
  <div *ngIf="vecindario | async as vecindario" class="container-fluid">
    <div class="row">
      <div class="col-12">
        <button *ngIf="checkAdminBarrio(vecindario.admin, user) || user.admin" mat-fab color="accent"
          class="pos-bottom-right" (click)="open()" matTooltip="Agregar">
          <i class="material-icons icono-boton">edit</i>
        </button>
      </div>
    </div>

    <div class="row" *ngIf="eventos | async as eventos">

      <div class="col-12 col-md-4" *ngFor="let evento of (eventos | slice:0:this.maximo)">
        <!-- <div class="ribbon" *ngIf="evento.tipo == 'Información' ">
      <span>Información</span>
    </div>
    <div class="ribbon-red" *ngIf="evento.tipo == 'Actividad' ">
      <span>Actividad</span>
    </div>
    <div class="ribbon-green" *ngIf="evento.tipo == 'Reunión' ">
      <span>Reunión</span>
    </div> -->
        <mat-card>

          <mat-card-title-group>
            <mat-card-title *ngIf="evento.tipo == 'Actividad'">
              <!-- <i class="material-icons icono-titulo">date_range</i>  -->
              {{evento.nombre}} 
              <span class="badge badge-warning">Actividad</span>
            </mat-card-title>
            <mat-card-title *ngIf="evento.tipo == 'Reunión'">
              <!-- <i class="material-icons icono-titulo">groups</i>  -->
              {{evento.nombre}} 
              <span class="badge badge-success">Reunión</span>
            </mat-card-title>
            <mat-card-title *ngIf="evento.tipo == 'Información'">
              <!-- <i class="material-icons icono-titulo">info</i>  -->
              {{evento.nombre}} 
              <span class="badge badge-primary">Información</span>
            </mat-card-title>

            <mat-icon *ngIf="checkAdminBarrio(vecindario.admin, user) || user.admin"
              style="color:grey; cursor: pointer;" mat-icon-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
            <!-- <mat-card-subtitle>
          <i style="color: grey; font-size:12px;" class="material-icons icono-boton">access_time</i> Publicado {{ evento.creado | amTimeAgo }}
        </mat-card-subtitle> -->
          </mat-card-title-group>

          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>✏️ &nbsp; Editar</button> -->
            <!-- <button mat-menu-item routerLink="/panel/{{evento.id}}">
          <mat-icon>edit</mat-icon>
          Editar Evento
        </button> -->
            <button mat-menu-item (click)="eliminar(evento)">
              <mat-icon>delete</mat-icon>
              Eliminar
            </button>
          </mat-menu>

          <!-- <mat-card-title-group>
          <mat-icon style="color:#EE6B3C">date_range</mat-icon>
        </mat-card-title-group> -->

          <!-- <img mat-card-image [src]="evento.photoURL || 'https://material.angular.io/assets/img/examples/shiba2.jpg'" [alt]="evento.nombre"> -->
          <mat-card-content>
            <div class="row">
              <!-- <div class="col-1">
              <mat-icon class="icono">date_range</mat-icon>
            </div> -->
              <div class="col-4 col-md-4" *ngIf="evento.tipo == 'Reunión' || evento.tipo == 'Actividad'">
                <ul>
                  <li class="dia">{{evento.fecha | date:'dd'}}</li>
                  <li class="fecha">{{evento.fecha | date:'MMMM' | uppercase }}</li>
                  <li class="hora">
                    <small><i style="color: grey; font-size:14px;" class="material-icons icono-boton">access_time</i>
                      {{evento.hora.hour}}:<span *ngIf="evento.hora.minute==0">00</span><span
                        *ngIf="evento.hora.minute>0">{{evento.hora.minute}}</span></small>
                  </li>
                </ul>
              </div>
              <div class="col-8 col-md-8">
                <span *ngIf="evento.tipo == 'Reunión' || evento.tipo == 'Actividad'">
                  <b><i class="fa fa-map-marker icono"></i>&nbsp; Lugar: {{evento.lugar}}</b><br>
                </span>
                <!-- <b>Tipo: {{evento.tipo}}</b><br> -->
                <b><i class="fa fa-info-circle icono"></i>&nbsp;Descripción:</b>
                <mostrar-mas class="text-justify" [texto]="evento.descripcion" [largoMax]="200"></mostrar-mas>
              </div>
            </div>

          </mat-card-content>
          <img *ngIf="evento.principal" mat-card-image [src]="evento.principal" [alt]="evento.nombre">


          <mat-card-actions align="end">
            <button mat-raised-button
              style="background-color: #00285C;color:#fff;margin-right: 10px; border-radius: 10px;"
              routerLink="/agenda/{{evento.id}}">
              <i class="material-icons icono-boton">visibility</i> Ver</button>
            <!-- <div style="padding-top:5px;">
          <mat-slide-toggle *ngIf="(authService.user | async)?.admin" [(ngModel)]="evento.oculto" (change)="toggleOculto(evento.oculto, evento.id)">Ocultar</mat-slide-toggle>
        </div> -->
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="container-fluid" style="padding-bottom:30px;" *ngIf="eventos | async as eventos">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-secondary" role="alert" *ngIf="eventos.length==0">
            No existen eventos en esta sección.
          </div>
        </div>
      </div>
      <div class="row" *ngIf="eventos?.length > this.maximo">
        <div class="col-12 text-center">
          <button color="primary" mat-button (click)="cargarMas()">Cargar más eventos...</button>
        </div>
      </div>
    </div>
  </div>
</div>