#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
  
  button{
    width:40%;
    margin-top:15px;
  }

  .texto{
    color:#464646;
  }

.fa{
  padding-right: 5px;
}

.peua{
  /* padding-left: 10px;
  padding-right: 10px; */
  max-width:300px;
}

mat-card{
  background:rgba(255,255,255,0.85);
  margin-bottom: 20px;
  
}

.alert{
  margin-top:10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

mat-list-item{
  height: 50px!important;
}

p.mat-line {
  color: rgba(0, 0, 0, 0.54);
}

.h4.mat-line {
  font-weight: bold;
}

.mat-list{
  padding-top:0px!important;
}

.mat-list-icon{
  color: rgba(0, 0, 0, 0.54)!important;

}
agm-map {
  height: 300px;
}

mat-card{
  border-radius:20px;
}