<div *ngIf="authService.user | async as user">
  <form [formGroup]="formulario" (ngSubmit)="agregar(user)" novalidate>
    <div class="modal-header" style="background:#06A8F9;color:#fff;">
      <span class="modal-title">
        <i class="material-icons icono-boton">edit</i>&nbsp; ¿Qué le quieres contar a tus vecinos hoy? </span>
      <div *ngIf="noticiaActual | async as noticia">
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal(noticia.fotos)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="!noticiaActual">
        <button type="button" class="close" aria-label="Close" (click)="cerrarModalSF()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="example-container">
          <mat-form-field *ngIf="categorias$ | async as arreglo">
            <mat-select placeholder="Ingrese la categoria" required formControlName="categoria">
              <mat-option *ngFor="let categoria of arreglo.cat_noticias" [value]="categoria.nombre">
                {{categoria.nombre}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrores.bajada">{{formErrores.categoria}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <textarea formControlName="texto" minlenght="1" matInput #texto placeholder="Escribe el texto..." matTextareaAutosize matAutosizeMinRows="3"
              matAutosizeMaxRows="10"></textarea>
            <mat-hint *ngIf="texto.value.length > 3000" align="end">{{texto.value.length}} / 3000</mat-hint>
            <label *ngIf="!noticiaId" class="file-label" class="float-right" matTooltip="Agregar Imagen">
              <input class="file-input" type="file" access=".png,.jpg,.jpeg,.JPG,.JPEG,.PNG" (change)="cargaMultipleVacio($event.target.files, user)"
                hidden="true">
              <a mat-icon-button color="primary">
                <i class="material-icons">add_a_photo</i>
              </a>
            </label>
            <div *ngIf="noticiaActual | async as noticia">
              <label *ngIf="noticia.fotos" class="file-label" class="float-right" matTooltip="Agregar Imagen">
                <input class="file-input" type="file" access=".png,.jpg,.jpeg,.JPG,.JPEG,.PNG" (change)="cargaMultipleFotos($event.target.files,noticia.fotos)"
                  hidden="true">
                <a mat-icon-button color="primary">
                  <i class="material-icons">add_a_photo</i>
                </a>
              </label>
            </div>
          </mat-form-field>
          <br>
        </div>
        <div class="row" *ngIf="noticiaActual | async as noticia">
          <div class="col-2" *ngFor="let foto of noticia.fotos">
            <div class="foto">
              <img class="rounded" height="75px;" width="75px;" [src]="foto.photoURL" />
              <div class="destacado" *ngIf="foto.photoURL == noticia.principal">
                  <i class="material-icons" matTooltip="Imagen Principal" style="cursor: default">star_rate</i>
              </div>
              <div class="borrar">
                <a [matMenuTriggerFor]="menu">
                  <i class="material-icons icono-boton">more_vert</i>
                </a>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="eliminarFoto(noticia.fotos, foto.path)">
                      <i class="material-icons icono-boton">delete</i> Eliminar</button>
                    <button mat-menu-item (click)="cambiarPrincipal(foto.photoURL)">
                      <i class="material-icons icono-boton">photo</i> Imagen Principal</button>
                  </mat-menu>
              </div>
            </div>
          </div>
          <div class="col-2 rounded" style="width:75px; height:75px;" *ngIf="loading">
            <div style="margin-top:25px;margin-left:25px;">
              <mat-spinner [diameter]="24" [strokeWidth]="2.4"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button *ngIf="!cargando" color="accent" type="submit" [disabled]="!formulario.valid">
        <i class='material-icons icono-boton'>mode_edit</i> Publicar</button>
      <button mat-raised-button disabled *ngIf="cargando" type="submit" disabled>
        <i class='fa fa-circle-o-notch fa-spin'></i> Publicando...</button>
    </div>
  </form>
</div>