.espacio-top{
  margin-bottom: 65px;
}
.espacio80{
    margin-bottom: 80px;
  }
.espacioside{
    margin-bottom: 57px;
  }
  .tool-footer{
    border-top:1px solid rgba(0, 0, 0, 0.12);
  }
  .active {
    color: #BF5D44 !important;
    font-weight: bolder;
    border-right: solid 4px #BF5D44;
    background: #F3F8FB;
}
.itemmenu{
    color:#00285C;
    border-top:1px solid rgba(0, 0, 0, 0.12);
  }
  .itemmenu:hover{
    color: #06A8F9;
    background: #F3F8FB;
  }
  .iconomenu{
    margin-top: 12px;
  }
  .footer-side{
    position: fixed; 
    bottom: 0px; 
    width: 100%; 
    height: 60px; 
    line-height: 60px; 
    background-color: #fff;
    border-top:1px solid rgba(0, 0, 0, 0.12);
}
.footer{
  }
  mat-sidenav {
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .menu-titulo{
    background: #00285C;
    color: #fff;
    width:100%;
    font-family: 'Ubuntu';
    font-size: 12px;
    text-align: center;
  }
  .loading-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .foto-perfil{
    border: double 4px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #06A8F9,#00285C);
    background-origin: border-box;
    background-clip: content-box, border-box;  
  }
  .nombre{
    color: grey;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

.titulo{
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
  font-weight: bold;
}