
  .titulo{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .icono-titulo{
    font-size:14px;
    margin-bottom:3px;
  }
  
  .espacio{
    margin-bottom: 63px;
  }

  mat-sidenav {
    width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  