.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-table {
    overflow: auto;
    /* max-height: 600px; */
  }
  ::ng-deep .mat-paginator-range-label{
    display: none !important;
}

table{
  width: 100%;
 }
 
 .mat-column-nombre {
   word-wrap: break-word !important;
   white-space: unset !important;
   flex: 0 0 70% !important;
   width: 70% !important;
   overflow-wrap: break-word;
   word-wrap: break-word;
 
   word-break: break-word;
 
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
 }