mat-card {
    margin-bottom: 20px;
}
.user {
    background-image: url('../../../assets/user.png');
    background-size: cover;
  }
  ul {
    list-style: none;
}
.nombre{
    font-family: 'Ubuntu';
    font-size: 20px;
}
.cargo{
    font-size: 14px;
}
.otro{
    font-size: 14px;
}
.icono{
    font-size:12px;
    padding-top:10px;
    color:grey;
}
.icono-nombre{
    font-size: 20px;
    vertical-align: middle !important;
    color:grey;
    margin-bottom:4px;
}
.border{
    border: 1px solid #EBEFF2;
}
.pos-bottom-right{
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
  }