<mat-toolbar style="background:#2583E2;">
  <button mat-button routerLink="/noticias" style="color:rgba(255, 255, 255, 0.7)">
    <i class="material-icons icono-boton">keyboard_arrow_left</i> Volver</button>
  <!-- <span class="app-toolbar-filler"></span> -->
  <!-- &nbsp; &nbsp;
    <span>
      <i class="material-icons icono-boton">edit</i>
      <span> {{encuesta.nombre}} </span>
      <i class="material-icons icono-boton" style="color:#FF2907;" *ngIf="encuesta.password">lock</i>
    </span>
    <span class="app-toolbar-filler"></span> -->
  <span class="app-toolbar-filler"></span>
  <span class="titulo">
    <i class="material-icons icono-titulo">photo</i> Bajadas</span>
  <span class="app-toolbar-filler"></span>
  <!-- <button mat-mini-fab color="accent" (click)="agregar()" matTooltip="Agregar">
      <i class="material-icons icono-boton">edit</i>
  </button> -->
</mat-toolbar>
<br>
<div class="row">
  <div class="col-12">
    <div class="alert alert-success" *ngIf="alerta">
      Los cambios han sido guardados <i class="fa fa-check"></i>
    </div>
  </div>
</div>
<div class="row" *ngIf="noticia.fotos">
  <div class="col-4" *ngFor="let foto of noticia.fotos">
    <mat-card>
      <img matCardImage [src]="foto.photoURL" alt="">
      <mat-card-content>
        {{ foto.bajada }}
        <form [formGroup]="formulario" (ngSubmit)="agregarBajada(noticia.fotos, foto)" novalidate>
          <div class="example-container">
            <mat-form-field>
              <textarea matInput #texto placeholder="Bajada de la foto" matTextareaAutosize formControlName="texto"
                matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="text-right">
            <button mat-raised-button color="accent" type="submit">
              <i class="material-icons icono-boton">edit</i> Guardar</button>
          </div>
        </form>
        <!-- <form [formGroup]="formulario" (ngSubmit)="agregarBajada(noticia.fotos, foto)" novalidate>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Bajada</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="foto.bajada" formControlName="texto" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">
                <i class="fa fa-check"></i>
              </button>
            </div>
          </div>
        </form> -->
      </mat-card-content>
    </mat-card>

  </div>
</div>