<div *ngIf="authService.user | async as user">
  <form [formGroup]="formulario" (ngSubmit)="agregar()" novalidate>
    <div class="modal-header" style="background:#06A8F9;color:#fff;">
      <span class="modal-title">
        <i class="material-icons icono-boton">date_range</i>&nbsp; Agregar </span>
      <div *ngIf="eventoActual | async as evento">
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal(evento.fotos)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="!eventoActual">
        <button type="button" class="close" aria-label="Close" (click)="cerrarModalSF()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Ingrese el nombre" type="text" formControlName="nombre" required autofocus>
                <mat-error *ngIf="formErrores.nombre">{{formErrores.nombre}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Tipo" formControlName="tipo" required>
                  <mat-option value="Reunión">
                    Reunión
                  </mat-option>
                  <mat-option value="Actividad">
                    Actividad
                  </mat-option>
                  <mat-option value="Información">
                    Información
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formErrores.tipo">{{formErrores.tipo}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Ingrese el lugar" type="text" formControlName="lugar">
                <mat-error *ngIf="formErrores.lugar">{{formErrores.lugar}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div style="padding-top:30px;">
              <mat-form-field>
                <input matInput required [matDatepicker]="picker" placeholder="Fecha y hora" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formErrores.fecha">{{formErrores.fecha}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 col-md-4 form-group">
            <ngb-timepicker required [(ngModel)]="time" formControlName="hora"></ngb-timepicker>
            <p class="alert alert-danger" *ngIf="formErrores.hora" role="alert">
              {{ formErrores.hora }}
            </p>
          </div>
          <div class="col-12">
            <div class="example-container">
              <mat-form-field>
                <textarea formControlName="descripcion" minlenght="1" matInput #descripcion placeholder="Escribe la descripcion..." matTextareaAutosize
                  matAutosizeMinRows="3" matAutosizeMaxRows="10" required></textarea>
                <mat-hint *ngIf="descripcion.value.length > 3000" align="end">{{descripcion.value.length}} / 3000</mat-hint>
                <label *ngIf="!eventoId" class="file-label" class="float-right" matTooltip="Agregar Imagen">
                  <input class="file-input" type="file" access=".png,.jpg,.jpeg,.JPG,.JPEG,.PNG" (change)="cargaMultipleVacio($event.target.files)"
                    hidden="true" multiple>
                  <a mat-icon-button color="primary">
                    <i class="material-icons">add_a_photo</i>
                  </a>
                </label>
                <div *ngIf="eventoActual | async as evento">
                  <label *ngIf="evento.fotos" class="file-label" class="float-right" matTooltip="Agregar Imagen">
                    <input class="file-input" type="file" access=".png,.jpg,.jpeg,.JPG,.JPEG,.PNG" (change)="cargaMultipleFotos($event.target.files,evento.fotos)"
                      hidden="true" multiple>
                    <a mat-icon-button color="primary">
                      <i class="material-icons">add_a_photo</i>
                    </a>
                  </label>
                </div>
              </mat-form-field>
              <br>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="eventoActual | async as evento">
          <div class="col-2" *ngFor="let foto of evento.fotos">
            <div class="foto">
              <img class="rounded" height="75px;" width="75px;" [src]="foto.photoURL" />
              <div class="destacado" *ngIf="foto.photoURL == evento.principal">
                <i class="material-icons" matTooltip="Imagen Principal" style="cursor: default">star_rate</i>
              </div>
              <div class="borrar">
                <a [matMenuTriggerFor]="menu">
                  <i class="material-icons icono-boton">more_vert</i>
                </a>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="eliminarFoto(evento.fotos, foto.path)">
                    <i class="material-icons icono-boton">delete</i> Eliminar</button>
                  <button mat-menu-item (click)="cambiarPrincipal(foto.photoURL)">
                    <i class="material-icons icono-boton">photo</i> Imagen Principal</button>
                </mat-menu>
              </div>
            </div>
          </div>
          <div class="col-2 rounded" style="width:75px; height:75px;" *ngIf="loading">
            <div style="margin-top:25px;margin-left:25px;">
              <mat-spinner [diameter]="24" [strokeWidth]="2.4"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button *ngIf="!cargando" color="accent" type="submit" [disabled]="!formulario.valid">
        <i class='material-icons icono-boton'>mode_edit</i> Publicar</button>
      <button mat-raised-button disabled *ngIf="cargando" type="submit" disabled>
        <i class='fa fa-circle-o-notch fa-spin'></i> Publicando...</button>
    </div>
  </form>
</div>