<div class="container-fluid">
  <div class="row" *ngIf="usuarios | async as users">
    <div class="col-12">
      <div class="example-header">
        <mat-form-field>
          <span matPrefix>
            <mat-icon>search</mat-icon>
            &nbsp;
          </span>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar..." [(ngModel)]="buscar">
          <button mat-button *ngIf="buscar" matSuffix mat-icon-button matTooltip="Limpiar"
            (click)="this.buscar = null;applyFilter('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> <i class="material-icons icono-titulo" *ngIf="row.gestion">local_police</i>
              {{row.nombre }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="vecindarios">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vecindarios </mat-header-cell>
            <mat-cell *matCellDef="let row"> <span *ngIf="row.vecindarios"><span
                  *ngFor="let vecindario of row.vecindarios; let esUltimo=last">{{vecindario.nombre}}{{esUltimo ? '' :
                  ', '}} </span></span> </mat-cell>
          </ng-container>
          <ng-container matColumnDef="registro">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.registro | amTimeAgo}} ({{row.registro | amCalendar}}) </mat-cell>
          </ng-container>
          <ng-container matColumnDef="gestion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Gestionar </mat-header-cell>
            <mat-cell *matCellDef="let row"><button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button *ngIf="!row.gestion" mat-menu-item (click)="agregarAdmin(row.userId,row.gestion)">
                  <mat-icon>local_police</mat-icon>
                  Agregar SuperAdmin
                </button>
                <button *ngIf="row.gestion" mat-menu-item (click)="agregarAdmin(row.userId,row.gestion)">
                  <mat-icon>person_off</mat-icon>
                  Eliminar SuperAdmin
                </button>
              </mat-menu>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>